<br>
<table class="table table-bordered table-responsive">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">UT</th>
      <th scope="col">Nombre</th>
      <th scope="col">Tipo</th>
      <th scope="col">Descripción Tipo</th>
      <th scope="col">MW</th>
      <th scope="col">Fecha Alta</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success active">
              <input type="checkbox" checked autocomplete="off">
            </label>
        </div>
      </th>
      <td>1M2</td>
      <td>Subestación MARRANCHON 1</td>
      <td>RS_INSTAL</td>
      <td>Subestación</td>
      <td>105,2</td>
      <td>12/12/2012 15:20</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>1M2</td>
      <td>Subestación MARRANCHON 1</td>
      <td>RS_INSTAL</td>
      <td>Subestación</td>
      <td>105,2</td>
      <td>12/12/2012 15:20</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>1M2</td>
      <td>Subestación MARRANCHON 1</td>
      <td>RS_INSTAL</td>
      <td>Subestación</td>
      <td>105,2</td>
      <td>12/12/2012 15:20</td>
    </tr>
  </tbody>
</table>